body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #082767;
  /* cursor: url('./assets/'), default;   */
}

.container {
  height: 100vh;
  color: #afaeae;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header{
  padding: 50px;
  background: linear-gradient(to bottom,#0e010e,  #222222);  
}

footer {
padding: 0px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 0%;
margin-bottom: 0%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icon{
  font-size: 25px;
  font-size: 25px;
  margin: 0 10px;
  color: #706e71;
  margin: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
a:hover{
  color: #9783bd;  
}

.content {
  text-align: center;
  margin-bottom: 50px;
  display: grid;  
}

.section {
  grid-template-rows: 1fr;
  gap: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
}


#inicio {
  background-image:url('../https://www.embrapa.br/contando-ciencia/agua/-/asset_publisher/EljjNRSeHvoC/content/vamos-economizar-agua-/1355746?inheritRedirect=false#:~:text=Enquanto%2097%25%20da%20%C3%A1gua%20da,rios%20e%20lagos%20do%20planeta.');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(244, 241, 244, 0.904);
}

#galeria {
  background: linear-gradient(to bottom,#0e010e,  #222222);
}

#personagens {
  background: linear-gradient(to bottom,#0e010e,  #222222);
}


h1 {
  font-size: 36px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.subscribe-form input,
.subscribe-form button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

.subscribe-form button {
  background-color: #302c44;
  color: #ffffff;
  cursor: pointer;
}

.subscribe-form button:hover {
  background-color: #5e00aa;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 200px;
  background-color: #08010e;
  color: #888788;
  background: linear-gradient(to bottom, #222222, #0e010e);
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5%;
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: url('./assets/lupa.cur'), default;  

}

.card:hover img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  cursor: url('./assets/ferramenta.cur'), default;  

}

.image-overlay {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.image-overlay img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image-overlay:hover img {
  transform: scale(1.1);
}

.image-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 6, 6, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-overlay:hover:before {
  opacity: 1;
}

.image-overlay img,
.image-overlay:before {
  transition: opacity 0.3s ease;
}

.image-overlay:before {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #180122;
  font-size: 24px;
}

